@page "/{Route}"
<h3>@Route</h3>

@if (Route == Routes.Films)
{
    <FilmPortal />
}
@if (Route == Routes.Directors)
{
    <DirectorPortal />
}
@if (Route == Routes.Genres)
{
    <GenrePortal />
}

@if (Route == Routes.SimilarFilms)
{
    <SimilarFilmPortal />
}

@code {
    [Parameter] public string Route { get; set; } = string.Empty;
}
